/*

!/.changes
!/.deploy
!/.deploy/*
/.deploy/logs
!/.github
!/.mirror
!/.mirror/*
/.mirror/changes

!/bin

!/crates
!/crates/*
/crates/fact-sim-cli/target/fact-sim-runs
/crates/fact-sim-runner/target/fact-sim-runs

!/docs
!/fixtures
!/migrations
!/scripts
!/src
!/tests

!.editorconfig
!.gitattributes
!.gitignore
!.gitlab-ci.yml
!.mailmap

!/CHANGES*
!CLAUDE.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!Cargo.lock
!Cargo.toml
!LICENSE
!QUICKSTART.md
!README.md
!/RELEASE*
!run
!rust-toolchain.toml
